html, body {
  background-color: green; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 22rem;
  height: 32rem;
  border-radius: 2rem; 
}

.card div {
  line-height: 1;
}

.card-icon-top {
  font-size: 8rem;
}

.card-icon-botton {
  font-size: 8rem;
  display: flex;
  text-align: right;
  transform: rotate(180deg);
  margin-top: 3rem;
}

.card-number {
  font-size: 9rem;
  display: flex;
  justify-content: center;
}
